language: go

script:
  - echo "Gulping"
  - gulp sass
  - hugo

install:
  - npm install -g firebase-tools
  - npm install -g gulp
  - npm install
  - go get -v github.com/spf13/hugo


after_success:
  - firebase deploy --token $FIREBASE_TOKEN
