{{ partial "big-header.html" . }}
        
        <article class="top-post">
            <img src="img/gifmoslogo.png" alt="GIFMos">

            <h1>The World's First GIF Social Network</h1>

            <h2>
                LIVE LIFE TO THE GIFFEST
            </h2>

            <div class="container tiles">
                <div class="row">
                    <div class="col-md-4 tile">
                        <h1><a href="/article/1">Article 1</a></h1>
                    </div>
                    <div class="col-md-4 tile"><h1><a href="/article/2">Article 2</a></h1></div>

                    <div class="col-md-4 tile"><h1><a href="/article/3">Article 3</a></h1></div>
                </div>
            </div>
            <div class="hiring">
                <h4>From the Blog</h4>
                <p>
                    <a href="/blog/2015-10-29-continuous-integration-a-step-by-step-guide/">Continuous integration step-by-step guide</a>
                </p>
            </div>
        </article>
      

{{ partial "footer.html" . }}