   <footer class="footer">
     <article class="consultation">
               <div class="container" id="contact" itemscope itemtype="http://schema.org/Organization">
                   <h3 class="consultation-header">We're hiring!</h3>
                   <p class="consultation-lorem">We're a friendly bunch. Give us a call and let's chat about your talents.</p>
                   <div class="consultation-hr"></div>
                   <a class="consultation-mobile" onClick="ga('send', 'event', 'CTA', 'click', 'Footer Telephone');"><span itemprop="telephone">022 123 4567</span></a>
                   <a href="mailto:enquiries@gifmos.com?subject=Enquiry&body=Hi," class="interview-email" onClick="ga('send', 'event', 'CTA', 'click', 'Footer Email');"><span itemprop="email">enquiries@gifmos.com</span></a>
                   <div class="consultation-hr"></div>
                   <p class="consultation-map">
                       <span itemprop="name">GIFMos</span>,
                       <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                           <span itemprop="streetAddress">OF10, Somewhere in Powai</span>,
                           <span itemprop="postalCode">400093</span>,
                           <span itemprop="addressLocality">IN</span>
                       </span>
                   </p>
                   <a class="consultation-map-bold" href="https://www.google.co.uk/maps/place/Atchai+Digital/@51.5491503,-0.1211688,15.27z/data=!4m2!3m1!1s0x0:0xaeaae9839f8b39d9">(Map)</a>
               </div>
       </article>
       
       <div class="container">
            <div class="footer-left-container">
                <a href="/"><img class="footer-logo" src="/img/gifmoslogo.png" alt="GIFMos logo"></a>
                <a href="/about" class="footer-menu">About Us</a>
                <div class="footer-menu-second">
                    <a href="/blog" class="footer-menu">Blog</a>
                </div>
                <div class="footer-logos-container">               
                    <a href="https://twitter.com/gifmos" class="footer-twitter" target="_blank"><div class="icon icon-twitter"></div></a>
                    <a href="https://instagram.com/gifmos1" target="_blank"><div class="icon icon-instagram"></div></a>
                    <a href="/blog/index.xml" target="_blank"><div class="icon icon-feed"></div></a>
                </div>
            </div>
            <div class="footer-right-container">
                <p class="footer-text">&copy; <a href="#">2017 Moment Studios Pvt. Ltd.</a></p>
                <p class="footer-text"><a href="#">The World's first GIF network.</a></p>
            </div>
        </div>
	</footer>
    <!-- ADDING JAVASCRIPT -->
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src='/dist/js/svgxuse.min.js'></script>
    <script src='/dist/js/main.js'></script>

</body>
</html>