<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }} - GIFMos</title>
    <meta name="description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.metadescription}}{{end}}">
    
    <!-- Twitter Card data -->
    {{ if isset .Params "header_image"  }}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://gifmos.com{{ .Params.header_image }}">
    {{ else }}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="https://gifmos.com/img/gifmoslogo.png">
    {{ end }}
    <meta name="twitter:site" content="@gifmos">
    <meta name="twitter:title" content="{{ .Title }} - GIFMos">
    <meta name="twitter:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.metadescription}}{{end}}">
    

    <!-- Open Graph data -->
    {{ if isset .Params "header_image"  }}
        <meta property="og:image" content="https://gifmos.com{{ .Params.header_image }}" />
    {{ else }}
        <meta property="og:image" content="http://gifmos.com/img/gifmoslogo.png" />
    {{ end }}
    <meta property="og:title" content="{{ .Title }} - GIFMos" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://gifmos.com{{ .Permalink }}" />
    <meta property="og:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.metadescription}}{{end}}" /> 
    <meta property="og:site_name" content="GIFMos" />

    <!-- ADDING CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/css/index.min.css"/>
    <link rel="stylesheet" type="text/css" href="/dist/css/svg-icons.css"/>

    <!--[if lt IE 9]>
    <script src="/dist/js/html5shiv.min.js"></script>
    <script src="/dist/js/respond.min.js"></script>
    <![endif]-->
    
    <link rel="canonical" href="https://gifmos.com{{ .Permalink }}">
    
</head>
